<table border="1" style="width:100%">
  <thead>
    <th>ID</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Legajo</th>
    <th>Sueldo</th>
    <th>Tipo</th>
    <th>Sexo</th>
    <th>Foto</th>
    <th>Accion</th>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of lista">
      <tr>
        <!-- contenedor especial de angular, no afecta en estilos -->
        <td>{{ item._id }}</td>
        <td>{{ item.nombre | titlecase }}</td>
        <td>{{ item.apellido | titlecase }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.legajo | number: "1.0-0" }}</td>
        <td>{{ item.sueldo | currency: "CAD":"symbol-narrow":"4.2-2" }}</td>
        <td>
          <ng-container *ngIf="item.sueldo > 90000">Senior</ng-container>
          <ng-container *ngIf="item.sueldo <= 90000 && item.sueldo > 40000">Semi Senior</ng-container>
          <ng-container *ngIf="item.sueldo <= 40000">Junior</ng-container>
        </td>
        <td>{{ item.sexo | titlecase }}</td>

        <td>
          <img src="../../../assets/{{ item.RutaDeFoto }}" class="autoFoto" />
        </td>
        <td>
          <app-boton-delete (borrar)="RecargarGrilla($event)" [idAuto]="item._id"></app-boton-delete>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>